header{
    width: 100%;
    height: 90vh;
    min-height: 800px;
    padding: 40px 2%;
    /*max-height: 700px;*/
    background-size: cover;
    background-position: center;
    background-image: url(../imagens/capa.png);

    .logo{
        width: 230px;
        height: 110px;
        background-size: cover;
        background-position: center;
        background-image: url(../imagens/PurpleHeaderLogo.png);
        float: left;
        position: absolute;
        top: 0;
    }

    nav.desktop-nav{
        float: right;

        ul{
            list-style-type: none;
        }

        li{
            float: left;
            padding: 0 20px;

            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    div.header{
        div.mobile-logo{
            display: none;
        }
        
        nav.mobile-nav{
            cursor: pointer;
            float: right;
            display: none;
            width: 32px;
            height: 32px;
            margin: 23px 25px 0px 0px;
            background-image: url(../imagens/open-menu.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;

            ul{
                display: none;
                background-color: #573375;
                position: absolute;
                width: 100%;
                left: 0;
                top: 80px;
                text-align: center;
                list-style-type: none;
                

                li{
                    padding: 8px 0;
                    transition: 0.5s;
                    border-bottom: 1px solid black;

                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
            }

            &:hover ul{
                display: block;
            }

            ul li:hover{
                background-color: #46295e;
            }
        }
    }

    div.chamada1{
        text-align: center;
        margin-top: 200px;

        h2{
            font-size: 40px;
            color: white;
            font-weight: lighter;
        }

        p{
            font-size: 15px;
            color: white;
            font-weight: lighter;
            margin-top: 10px;
        }
    }
}