
@media screen and (max-width: 768px){
    header{
        height: auto;
        min-height: 90vh;

        nav.desktop-nav{
            display: none;
        }
    
        nav.mobile-nav{
            display: block;
        }
    
        div.chamada1{
            width: 100%;
            max-width: none;
            float: none;
            margin: 100px 0;
            padding: 0 10px;
            display: inline-block;
    
            h2{
                font-size: 30px;
                text-align: center;
            }
    
            p{
                font-size: 15px;
                margin-top: 15px;
                text-align: justify;
            }
        }
    }

    section.section_1{
        padding: 40px 2%;
        height: auto;
        text-align: center;

        div.txt-device{
            width: 100%;
            margin-top: 0;
            padding-left: 0;
            position: static;
            float: none;
            display: inline-block;

            ul{
                display: inline-block;
                margin-top: 20px;

                li{
                    float: none;
                    text-align: left;
                }
            }
        }

        div.button{
            display: inline-block;
        }

        div.img-device{
            display: none;
        }
    }
}