@media screen and (max-width: 1200px){
    header{
        height: auto;
        min-height: 90vh;
        
        div.chamada1{
            width: 100%;
            max-width: none;
            float: none;
            margin: 180px 0;
            padding: 0 20%;
            display: inline-block;
            
            h2{
                text-align: center;
            }

            p{
                text-align: justify;
            }
        }
    }
}


@media screen and (max-width: 768px){
    header{
        div.chamada1{
            margin: 200px 0;
    
            h2{
                font-size: 34px;
            }
    
            p{
                font-size: 15px;
                margin-top: 15px;
            }
        }
    }

    section.section_1{
        padding: 40px 2%;
        height: auto;
        text-align: center;

        div.container{

            div.txt-device{
                width: 100%;
                margin-top: 0;
                padding-left: 0;
                position: static;
                float: none;
                display: inline-block;

                ul{
                    display: inline-block;
                    margin-top: 25px;

                    li{
                        float: none;
                        text-align: left;
                    }
                }
            }

            div.button{
                display: inline-block;
            }

            div.img-device{
                display: none;
            }
        }
    }

    section.section_2{
        padding-top: 40px;
    }

    section.section_4{
        div.container{
            text-align: center;
        }

        div.form{
            float: none;
            width: 100%;

            p{
                display: inline-block;
                text-align: justify;
            }
        }

        div.map-wraper{
            float: none;
            width: 100%;
            margin-top: 40px;

            div.sub-wraper_1{
                display: inline-block;
                width: 80%;
                padding-top: 80%;
                max-width: none;
                
                div.sub-wraper_2{
                    height: 100%;
                    padding-top: 0;
                }
            }
        }
    }
}


@media screen and (max-width: 640px){
    header{
        div.logo{
            display: none;
        }

        nav.desktop-nav{
            display: none;
        }

        div.header{
            width: 100%;
            height: 80px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #573375;

            div.mobile-logo{
                display: inline-block;
                margin: 7px 0px 0px 40px;

                p{
                font-family: 'Balsamiq Sans', cursive;
                font-weight: bold;
                font-size: 50px;
                color: white;
                }
            }

            nav.mobile-nav{
                display: inline-block;
            }
        }

        div.chamada1{
            padding: 0 10%;
    
            h2{
                font-size: 32px;
            }
        }
    }
}

@media screen and (max-width: 580px){
    section.section_2{
        div.container{
            img{
                top: 18px;
            }
        }
    }
    section.section_3{
        div.part_1{
            width: 100%;
            padding: 40px 0;
        }

        div.part_2{
            width: 100%;
            padding: 40px 0;
        }
    }
}