section.section_1 {
    width: 100%;
    background-color: #573375;
    padding: 0 2%;
    height: 350px;

    div.container{
        max-width: 1000px;
        height: calc(100% + 50px);

        div.txt-device{
            float: left;
            width: 47%;
            position: relative;
            left: 55px;
            margin-top: 25px;
            padding-left: 80px;
            color: white;

            h2{
                font-size: 26px;
                font-weight: lighter;
            }

            p{
                font-size: 15px;
                font-weight: normal;
                margin-top: 20px;
            }

            ul{
                font-size: 15px;
                list-style-position: outside;
                padding-left: 15px;

                li{
                    float: left;
                    width: 100%;
                    margin-top: 8px;
                }
            }

            div.button{
                background-color: #FF703D;
                width: 165px;
                height: 44px;
                font-size: 13px;
                color: white;
                cursor: pointer;
                margin-top: 42px;
                text-align: center;
                line-height: 44px;
                border-radius: 30px;
            }
        }

        div.img-device{
            float: left;
            width: 53%;
            position: relative;
            top: -50px;
            height: 100%;
            background-image: url(../imagens/device.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }
}

section.section_2{
    padding: 0 2%;
    background-color: white;
    text-align: center;

    div.container{
        max-width: 1000px;

        h2{
            color: #472663;
            font-weight: lighter;
        }
    
        p{
            margin-top: 30px;
            max-width: 900px;
            display: inline-block;
            color: #472663;
        }
    
        img{
            position: relative;
            top: 70px;
            width: 100%;
            margin-top: 20px;
        }
    }
}

section.section_3{
    width: 100%;

    div.part_1{
        float: left;
        width: 50%;
        padding: 140px 0 90px 0;
        background-color: #835FA7;
        color: white;

        div.wraper-part_1{
            max-width: 600px;
            float: right;
            padding-right: 30px;
            padding-left: 4%;

        h2{
            font-weight: lighter;
            font-style: italic;
            font-size: 23px;
            }

        p{
            font-size: 15px;
            line-height: 35px;
            margin-top: 10px;
            }
        }
    }

    div.part_2{
        float: left;
        width: 50%;
        padding: 140px 0 90px 0;

        div.abaut-author{
            float: left;
            max-width: 600px;
            padding-left: 30px;

            div.title-author{
                float: left;
                width: 100%;

                div.wraper-title-author{
                    float: left;

                    h2{
                        padding-right: 20px;
                        color: #232323;
                        font-weight: normal;
                        font-size: 21px;
                    }

                    p{
                        font-size: 14px;
                        font-style: italic;
                        color: #232323;
                        font-weight: lighter;
                    }
                }

                div.img-author{
                    float: left;
                    width: 40px;
                    height: 40px;
                    position: relative;
                    top: -4px;
                    border-radius: 20px;
                    background-color: #573375;
                }
            }

            div.text-author{
                float: left;
                width: 100%;
                margin-top: 10px;
                padding-right: 4%;

                p{
                    color: #232323;
                    font-size: 15px;
                }
            }
        }

        div.slider-bullets{
            width: 100%;
            float: left;
            margin-top: 12px;
            padding-left: 30px;

            span{
                width: 16px;
                height: 16px;
                float: left;
                border-radius: 8px;
                margin-right: 8px;
                background-color: rgb(200, 200, 200);
                cursor: pointer;
            }
        }
    }
}

section.section_4{
    background-color: #472563;
    padding: 100px 0;

        div.form{
            float: left;
            width: 50%;
            color: white;
            margin-top: 15px;
            padding: 0 2%;
    
            h2{
                font-size: 23px;
                font-weight: lighter;
            }
    
            p{
                font-size: 15px;
                font-weight: lighter;
                max-width: 400px;
            }

            input[type=text]{
                width: 100%;
                max-width: 480px;
                height: 58px;
                padding-left: 8px;
                line-height: 58px;
                border: 1px solid rgb(200, 200, 200);
                margin-top: 5px;
            }

            textarea{
                width: 100%;
                max-width: 480px;
                height: 160px;
                padding: 15px;
                border: 1px solid rgb(200, 200, 200);
                margin-top: 8px;
            }

            input[type=submit]{
                background-color: #FF703D;
                width: 165px;
                height: 44px;
                font-size: 13px;
                color: white;
                cursor: pointer;
                margin-top: 15px;
                border-radius: 30px;
                border: 0;
            }
        }

        div.map-wraper{
            float: left;
            width: 50%;
            padding: 0 2%;

            h2{
                font-size: 23px;
                font-weight: lighter;
                color: white;
            }

            div.sub-wraper_1{
                width: 100%;
                max-width: 480px;
                position: relative;

                div.sub-wraper_2{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    padding-top: 100%;
    
                    div.map{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: white;
                        border: 5px solid rgb(200, 200, 200);
                    }
                }
            }
        }
}