section.section_1 {
    width: 100%;
    background-color: #573375;
    padding: 0 2%;
    height: 350px;

    div.txt-device{
        float: left;
        width: 47%;
        position: relative;
        left: 55px;
        margin-top: 25px;
        padding-left: 80px;
        color: white;

        h2{
            font-size: 26px;
            font-weight: lighter;
        }

        p{
            font-size: 15px;
            font-weight: normal;
            margin-top: 20px;
        }

        ul{
            font-size: 15px;
            list-style-position: outside;
            padding-left: 15px;

            li{
                float: left;
                width: 100%;
                margin-top: 8px;
            }
        }

        div.button{
            background-color: #FF703D;
            width: 165px;
            height: 44px;
            font-size: 13px;
            color: white;
            cursor: pointer;
            margin-top: 42px;
            text-align: center;
            line-height: 44px;
            border-radius: 30px;
        }
    }

    div.img-device{
        float: left;
        width: 53%;
        position: relative;
        top: -50px;
        height: 400px;
        background-image: url(../imagens/device.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

section.section_2{
    padding: 80px 2%;
    background-color: white;
    text-align: center;

    h2{
        color: #472663;
        font-weight: lighter;
    }

    p{
        margin-top: 30px;
        max-width: 600px;
        display: inline-block;
    }
}