* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
}

.clear {
  clear: both;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 90vh;
  padding: 40px 2%;
  /*max-height: 700px;*/
  background-size: cover;
  background-position: center;
  background-image: url(../imagens/capa.png);
}

header .logo {
  width: 230px;
  height: 110px;
  background-size: cover;
  background-position: center;
  background-image: url(../imagens/PurpleHeaderLogo.png);
  float: left;
  position: absolute;
  top: 0;
}

header nav.desktop-nav {
  float: right;
}

header nav.desktop-nav ul {
  list-style-type: none;
}

header nav.desktop-nav li {
  float: left;
  padding: 0 20px;
}

header nav.desktop-nav li a {
  text-decoration: none;
  color: white;
}

header nav.mobile-nav {
  cursor: pointer;
  float: right;
  display: none;
  width: 32px;
  height: 32px;
  background-image: url(../imagens/open-menu.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

header nav.mobile-nav ul {
  display: none;
  background-color: #573375;
  position: absolute;
  width: 100%;
  left: 0;
  top: 80px;
  text-align: center;
  list-style-type: none;
}

header nav.mobile-nav ul li {
  padding: 8px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 1px solid black;
}

header nav.mobile-nav ul li a {
  color: white;
  text-decoration: none;
}

header nav.mobile-nav:hover ul {
  display: block;
}

header nav.mobile-nav ul li:hover {
  background-color: #46295e;
}

header div.chamada1 {
  max-width: 600px;
  float: right;
  margin: 170px 350px;
}

header div.chamada1 h2 {
  font-size: 40px;
  color: white;
  font-weight: lighter;
}

header div.chamada1 p {
  font-size: 15px;
  color: white;
  font-weight: lighter;
  margin-top: 10px;
}

section.section_1 {
  width: 100%;
  background-color: #573375;
  padding: 0 2%;
  height: 350px;
}

section.section_1 div.txt-device {
  float: left;
  width: 47%;
  position: relative;
  left: 55px;
  margin-top: 25px;
  padding-left: 80px;
  color: white;
}

section.section_1 div.txt-device h2 {
  font-size: 26px;
  font-weight: lighter;
}

section.section_1 div.txt-device p {
  font-size: 15px;
  font-weight: normal;
  margin-top: 20px;
}

section.section_1 div.txt-device ul {
  font-size: 15px;
  list-style-position: outside;
  padding-left: 15px;
}

section.section_1 div.txt-device ul li {
  float: left;
  width: 100%;
  margin-top: 8px;
}

section.section_1 div.txt-device div.button {
  background-color: #FF703D;
  width: 165px;
  height: 44px;
  font-size: 13px;
  color: white;
  cursor: pointer;
  margin-top: 42px;
  text-align: center;
  line-height: 44px;
  border-radius: 30px;
}

section.section_1 div.img-device {
  float: left;
  width: 53%;
  position: relative;
  top: -50px;
  height: 400px;
  background-image: url(../imagens/device.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

section.section_2 {
  padding: 0 2%;
  background-color: white;
  text-align: center;
}

section.section_2 div.container {
  max-width: 1000px;
}

section.section_2 div.container h2 {
  color: #472663;
  font-weight: lighter;
}

section.section_2 div.container p {
  margin-top: 30px;
  max-width: 900px;
  display: inline-block;
  color: #472663;
}

section.section_2 div.container img {
  width: 100%;
  margin-top: 40px;
}

@media screen and (max-width: 1200px) {
  header {
    height: auto;
    min-height: 90vh;
  }
  header div.chamada1 {
    width: 100%;
    max-width: none;
    float: none;
    margin: 180px 0;
    padding: 0 20%;
    display: inline-block;
  }
  header div.chamada1 h2 {
    text-align: center;
  }
  header div.chamada1 p {
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  header div.chamada1 {
    margin: 200px 0;
  }
  header div.chamada1 h2 {
    font-size: 34px;
  }
  header div.chamada1 p {
    font-size: 15px;
    margin-top: 15px;
  }
  section.section_1 {
    padding: 40px 2%;
    height: auto;
    text-align: center;
  }
  section.section_1 div.txt-device {
    width: 100%;
    margin-top: 0;
    padding-left: 0;
    position: static;
    float: none;
    display: inline-block;
  }
  section.section_1 div.txt-device ul {
    display: inline-block;
    margin-top: 25px;
  }
  section.section_1 div.txt-device ul li {
    float: none;
    text-align: left;
  }
  section.section_1 div.button {
    display: inline-block;
  }
  section.section_1 div.img-device {
    display: none;
  }
  section.section_2 {
    padding-top: 40px;
  }
}

@media screen and (max-width: 640px) {
  header div.logo {
    display: none;
  }
  header nav.desktop-nav {
    display: none;
  }
  header nav.mobile-nav {
    display: block;
  }
  header div.chamada1 {
    padding: 0 10%;
  }
  header div.chamada1 h2 {
    font-size: 32px;
  }
}
/*# sourceMappingURL=main.css.map */